<div class="d-flex">
  <div></div>
  <table *ngIf="gameSession" class="table-board">
    <tr *ngFor="let row of gameSession.board; index as rowIdx">
      <td>{{gameSession.board[0].length - rowIdx}}</td>
      <td *ngFor="let cell of row; index as colIdx" (click)="makeMove(rowIdx, colIdx)">
        <div *ngIf="cell !== playerType.None" class="circle" 
          [class.circle-first-player]="cell === playerType.First"
          [class.circle-second-player]="cell === playerType.Second">
          <span *ngIf="showMoveNumbers">{{GetMoveNumber(rowIdx,colIdx)}}</span>
        </div>
        <div *ngIf="cell === playerType.None" class="circle"></div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td *ngFor="let cell of gameSession.board[0]; index as colIdx">
        {{letters[colIdx]}}
      </td>
    </tr>
  </table>
  <div>
    <input type="checkbox" id="show-move-numbers" (click)="ShowMoveNumbersChanged($event.currentTarget.checked)">
    <label for="show-move-numbers">Show move numbers</label><br>
  </div>
</div>
<div class="d-flex">
  <div class="ms-auto me-auto">
    <img *ngIf="moveInProgress" class="hourglass-wait" src="/assets/icons/hourglass-split.svg" width="32" height="32">
    <h3 *ngIf="gameSession.gameResult == gameResultType.FirstPlayerWon">Black won!</h3>
    <h3 *ngIf="gameSession.gameResult == gameResultType.SecondPlayerWon">White won!</h3>
    <h3 *ngIf="gameSession.gameResult == gameResultType.Tie">Tie!</h3>
  </div>
</div>
